<section class="experience" id="experience">
  <div class="container">
    <h2 class="experience-heading">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-gallery">
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img12.jpg 1x, /img/img12_dpi2.jpg 2x"
          src="/img/img12.jpg"
          alt="Cup of latte art"
          loading="lazy"
        />
      </li>
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img11.jpg 1x, /img/img11_dpi2.jpg 2x"
          src="/img/img11.jpg"
          alt="Coffee and croissant breakfast"
          loading="lazy"
        />
      </li>
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img10.jpg 1x, /img/img10_dpi2.jpg 2x"
          src="/img/img10.jpg"
          alt="Cozy chair and book"
          loading="lazy"
        />
      </li>
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img09.jpg 1x, /img/img09_dpi2.jpg 2x"
          src="/img/img09.jpg"
          alt="Pouring fresh coffee"
          loading="lazy"
        />
      </li>
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img08.jpg 1x, /img/img08_dpi2.jpg 2x"
          src="/img/img08.jpg"
          alt="People chatting in café"
          loading="lazy"
        />
      </li>
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img07.jpg 1x, /img/img07_dpi2.jpg 2x"
          src="/img/img07.jpg"
          alt="Coffee cups on table"
          loading="lazy"
        />
      </li>
      <li class="experience-gallery-item">
        <img
          class="experience-gallery-img"
          srcset="/img/img06.jpg 1x, /img/img06_dpi2.jpg 2x"
          src="/img/img06.jpg"
          alt="Takeaway coffee cup outside"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
