<!-- Footer section -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-container">
  
      <!-- Logo SVG -->
      <div class="footer-top">
        <div class="footer-logo-block">
      <a class="footer-logo" href="./index.html"><svg class="icon-coffee" width="196" height="84">
        <use href="/img/icons.svg#icon-coffee"></use>
      </svg> 
    </a>
    </div>
            <!-- Social Links -->
   <div class="social-block">
    <ul class="social-list">
      <li class="social-item">
        <a class="footer-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        <svg class="icon icon-facebook" width="20" height="20">
          <use href="/img/icons.svg#icon-facebook"></use>
          </svg> 
        </a>
      </li>
      <li class="social-item">
         <a class="footer-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"> 
          <svg class="icon icon-instagram" width="20" height="20">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
         </a>
         </li>
      <li class="social-item"> 
        <a class="footer-link" href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="X">
           <svg class="icon icon-x" width="20" height="20">
            <use href="/img/icons.svg#icon-x"></use>
          </svg>
         </a> 
        </li>
    </ul>
    </div>
    </div>
    <!-- Navigation -->
    <nav class="footer-nav-block">
  <ul class="footer-nav">
    <li class="footer-text"><a  href="#welcome">About us</a></li>
    <li class="footer-text"><a  href="#quality">Benefits</a></li>
    <li class="footer-text"><a  href="#experience">Gallery</a></li>
    <li class="footer-text"><a  href="#testimonials">Testimonial</a></li>
    <li class="footer-text"><a  href="#location">Location</a></li>
  </ul>
  </nav>
      </div>
    <p class="footer-copy">© 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
