<div class="mobile-menu" data-modal>
  <div class="container mobile-menu-container">
    <div class="menu-top">
      <div class="logo-box">
        <a href="./index.html" class="logo-link">
          <svg class="icon-coffee" width="63" height="36">
            <use href="/img/icons.svg#icon-coffee"></use>
          </svg>
        </a>
      </div>

      <button class="mobile-menu-close" type="button" data-modal-close>
        <svg class="icon-close" width="12" height="12">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mob-nav-list">
        <li class="link-text">
          <a class="nav-link" href="#welcome">About us</a>
        </li>
        <li class="link-text">
          <a class="nav-link" href="#quality">Benefits</a>
        </li>
        <li class="link-text">
          <a class="nav-link" href="#experience">Gallery</a>
        </li>
        <li class="link-text">
          <a class="nav-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="link-text">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
