<section id="quality" class="quality-section">

    <div class="container">
        
        <p class="quality-title-p">Quality</p>
        <h2 class="quality-section-title">Why CoffeeJoy Stands Out from the Rest</h2>
        <p class="quality-p"> At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas.
            Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
        </p>
        <ul class="quality-list">
            <li class="quality-list-item">
                <div class="quality-item-card">
                    <img srcset="/img/img05.jpg 1x, /img/img05_dpi2.jpg 2x"
                         src="/img/img05.jpg"
                         alt="Coffee Beans">
                </div>
                <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
                <p class="quality-item-p">Savor the rich flavors of our expertly sourced beans.</p>
            </li>
            <li class="quality-list-item">
                <div class="quality-item-card">
                    <img srcset="/img/img04.jpg 1x, /img/img04_dpi2.jpg 2x"
                         src="/img/img04.jpg"
                         alt="Man Brewing Coffee">
                </div>
                <h3 class="quality-item-title">Expert Baristas Crafting Your Perfect Brew</h3>
                <p class="quality-item-p">Our baristas are passionate about coffee and skilled in their craft.</p>
            </li>
            <li class="quality-list-item">
                <div class="quality-item-card">
                    <img srcset="/img/img03.jpg 1x, /img/img03_dpi2.jpg 2x" 
                         src="/img/img03.jpg"
                         alt="Sofa, Table, Book and Cup of Coffee" >
                </div>
                <h3 class="quality-item-title">Cozy Atmosphere</h3>
                <p class="quality-item-p">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
            </li>
        </ul>
    </div>
</section>
