<!-- Testimonials  -->

<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="visitors-title">What our visitors say</h2>

    <ul class="visitors-list">
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "Every cup feels like a warm hug! I&#39;m addicted to their seasonal
          flavors!"
        </p>
        <p class="visitors-name">Name Surname</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <p class="visitors-name">Alice Johnson</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <p class="visitors-name">Michael Smith</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "The pastries are to die for! I can&#39;t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="visitors-name">Emily Davis</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <p class="visitors-name">James Brown</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <p class="visitors-name">Sarah Wilson</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "I&#39;m addicted to their seasonal flavors! Each one is crafted with
          such care and creativity."
        </p>
        <p class="visitors-name">Chris Lee</p>
      </li>
      <li class="visitors-item">
        <ul class="stars-list">
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-filled" width="20" height="19">
              <use href="/img/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-item">
            <svg class="star-outline" width="20" height="19">
              <use href="/img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>

        <p class="visitors-text">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="visitors-name">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
