<section id="welcome" class="welcome-section">
  <div class="container welcome-container">
    <div class="welcome-main-wrapper">
      <div class="welcome-wrapper-text">
        <p class="welcome-text-top">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-wrapper">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="#location" class="welcome-button animated-button">
          Find location
          <svg class="icon icon-map-pin" width="20" height="20">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <img
      class="welcome-img"
      srcset="/img/img02.jpg 1x, /img/img02_dpi2.jpg 2x"
      src="/img/img02.jpg"
      alt="Coffee Making Process"
    />
  </div>
</section>
